In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import random 
from pprint import pprint

##### Load and Prepare Data

In [3]:
df=pd.read_csv(r"C:\ML\data\iris.csv")
df.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

#### Format of the data:
- Last column of the data frame must contain the label and it must be called "label"
- There should not be missing values in the data frame

In [4]:
df.rename(columns={"variety":"label"},inplace=True)
df.head()

   sepal.length  sepal.width  petal.length  petal.width   label
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

##### Train-Test-Split:
Lets create this function our own

In [17]:
def train_test_split(df,test_size):
    # We have to check if the test_size we passsed an integer or a float.
    if isinstance(test_size,float):
        test_size=round(test_size*len(df))
    else:
        test_size=test_size
    # df.index returns a range so we can convert it to a list
    indices=df.index.tolist()
    # random.sample accepts in population a list and returns unique values.
    test_indices=random.sample(population=indices,k=test_size)
    test_df=df.loc[test_indices]
    train_df=df.drop(test_indices)
    return train_df,test_df

In [27]:
# To get the same result always
random.seed(0)
train_df,test_df=train_test_split(df,test_size=0.1)

In [28]:
train_df

     sepal.length  sepal.width  petal.length  petal.width      label
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
144           6.7          3.3           5.7          2.5  Virginica
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica

[135 rows x 5 columns]

In [20]:
print(len(test_df),len(train_df))

15 135